.contacto {
    display: flex;
    gap: 30px;
  }
  
  .contacto div{
    width: 100%;
  }
  
  .datos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .datos p {
    font-size: 14px;
  }
  
  .datos ul li {
    font-size: 14px;
    list-style: none;
  }
  
  .formulario p {
    display: flex;
  }
  
  .formulario p label {
    min-width: 100px;
  }
  .formulario p input,
  .formulario p textarea {
    width: 100%;
    background:rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
  }
  
  .formulario p:nth-child(4) {
    align-items: start;
  }
  
  .formulario p textarea {
    resize: none;
    height: 150px; 
  }
  
  .formulario input[type="submit"] {
    background:#fed51a;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: black;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position:relative;
    left: 100px;
    cursor:pointer;
  }
  
  .formulario input[type="submit"]:hover {
    background-color: rgba(112, 88, 8, 0.697);
    color:white;
  }
  
  .formulario input[type="reset"] {
    background:#fed51a;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: black;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position:relative;
    cursor:pointer;
  }
  
  .formulario input[type="reset"]:hover {
    background-color: rgba(112, 88, 8, 0.697);
    color:white;
  }
  
  .botones {
    display:flex;
    gap: 400px;
  }
  