/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* header {
  padding: 16px 0;
}

encabezado {
  background-color: #fed51a;
  align-items: start;
} */

/* nav {
  background-color: #fed51a;
  padding: 5px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
} */

/* footer {
  background-color: #fed51a;
  color: #333;
  font-size: small;
  text-align: center;
} */
/* 
nav ul li a.activo {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
} */
/* 
.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: #2e64a1;
  font-size: 20px;
  font-weight: 400;
}

.bienvenidos {
  padding-left: 20px;
  box-sizing: border-box;
}

.testimonios {
  padding-left: 20px;
  box-sizing: border-box;
}

.velero {
  display: flex;
  justify-content: space-between;
}

.columnas {
  display: flex;
  flex-direction: column;
}

.testimonio {
  box-sizing: border-box;
}

.testimonio .cita {
  font-size: small;
  display: block;
}

.testimonio .autor {
  font-size: 10px;
  text-align: left;
  display: block;
} */

/* Nosotros */

/* .personas 
  display: flex;
  gap: 32px;
  align-items: center;
}

.persona {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  padding: 13px;
  box-sizing: border-box;
}

.persona img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 13px;
  display: block;
  max-width: 150px;
}

.persona h5,
.persona h6 {
  margin: 0;
  font-weight: normal;
  color: #2e64a1;
}

.persona h5 {
  font-size: 16px;
  margin-top: 5px;
}

.persona h6 {
  font-size: 14px;
  font-style: italic;
}

.persona p {
  color: #666;
  font-size: 12px;
}

.texto {
  display: flex;
  flex-direction: column;
 } */

/* Viajes */

/* .servicio {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  gap: 32px;
  align-items: center;
}

.servicio .info h4 {
  color: #2e64a1;
  font-weight: 500;
  font-style: italic;
  border-bottom: 1px solid #2e64a1;
  padding-bottom: 10px;
}

.servicio .info p {
  font-size: 13px;
}

.servicio img {
  border-radius: 13px;
  display: block;
  max-width: 225px;
} */

/* 
.servicio:nth-child(even) {
  flex-direction: row-reverse;
} */

/* Inicio Galería */

/* .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galeria img {
  width: 23%;
  border: 1px solid #ddd;
  padding: 2px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 2%;
  border-radius: 10%;
} */


/* Novedades */

.novedades h3 {
  font-size: 16px;
}

.novedades p {
  font-size: 14px;
}


/* Contacto */

/* .contacto {
  display: flex;
  gap: 30px;
}

.contacto div{
  width: 100%;
}

.datos {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.datos p {
  font-size: 14px;
}

.datos ul li {
  font-size: 14px;
  list-style: none;
}

.formulario p {
  display: flex;
}

.formulario p label {
  min-width: 100px;
}
.formulario p input,
.formulario p textarea {
  width: 100%;
  background:rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 14px;
  padding: 6px 10px;
}

.formulario p:nth-child(4) {
  align-items: start;
}

.formulario p textarea {
  resize: none;
  height: 150px; 
}

.formulario input[type="submit"] {
  background:#fed51a;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: black;
  font-size: 16px;
  padding: 6px 20px;
  width: auto;
  position:relative;
  left: 100px;
  cursor:pointer;
}

.formulario input[type="submit"]:hover {
  background-color: rgba(112, 88, 8, 0.697);
  color:white;
}

.formulario input[type="reset"] {
  background:#fed51a;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: black;
  font-size: 16px;
  padding: 6px 20px;
  width: auto;
  position:relative;
  cursor:pointer;
}

.formulario input[type="reset"]:hover {
  background-color: rgba(112, 88, 8, 0.697);
  color:white;
}

.botones {
  display:flex;
  gap: 400px;
} */
